<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net472" />
  <package id="Caching.CSRedis" version="3.6.60" targetFramework="net472" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net472" />
  <package id="Castle.Windsor" version="5.0.0" targetFramework="net472" />
  <package id="Com.Ctrip.Framework.Apollo" version="2.4.1" targetFramework="net472" />
  <package id="Com.Ctrip.Framework.Apollo.Configuration" version="2.4.1" targetFramework="net472" />
  <package id="CoreFtp" version="1.4.0" targetFramework="net472" />
  <package id="CronExpressionDescriptor" version="2.13.0" targetFramework="net472" />
  <package id="Cronos" version="0.7.0" targetFramework="net472" />
  <package id="CSRedisCore" version="3.6.6" targetFramework="net472" />
  <package id="Dapper" version="2.0.123" targetFramework="net472" />
  <package id="Dapper.Oracle" version="1.0.3" targetFramework="net472" />
  <package id="DevExpress.Core" version="19.1.5" targetFramework="net472" />
  <package id="DevExpress.Xpf" version="19.1.5" targetFramework="net472" />
  <package id="DevExpress.Xpf.Themes" version="19.1.5" targetFramework="net472" />
  <package id="DevExpress.Xtra" version="19.1.5" targetFramework="net472" />
  <package id="DynamicLanguageRuntime" version="1.2.3" targetFramework="net472" />
  <package id="EasyNetQ" version="6.4.1" targetFramework="net472" />
  <package id="Elasticsearch.Net" version="7.13.2" targetFramework="net472" />
  <package id="Hangfire" version="1.7.27" targetFramework="net472" />
  <package id="Hangfire.Core" version="1.7.27" targetFramework="net472" />
  <package id="Hangfire.MySqlStorage" version="2.0.3" targetFramework="net472" />
  <package id="Hangfire.Oracle.Core" version="9.1.55" targetFramework="net472" />
  <package id="Hangfire.PostgreSql" version="1.9.8" targetFramework="net472" />
  <package id="Hangfire.SqlServer" version="1.7.27" targetFramework="net472" />
  <package id="IndexRange" version="1.0.0" targetFramework="net472" />
  <package id="IronPython" version="2.7.10" targetFramework="net472" />
  <package id="log4net" version="2.0.12" targetFramework="net472" />
  <package id="MailKit" version="2.5.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Html.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Razor" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Razor.Language" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Razor.Runtime" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.8.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.8.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient.SNI" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net472" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Caching.Memory" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Caching.Redis" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Http" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.ObjectPool" version="6.0.6" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net472" />
  <package id="MimeKit" version="2.5.1" targetFramework="net472" />
  <package id="MySqlConnector" version="1.0.0" targetFramework="net472" />
  <package id="NEST" version="7.13.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Npgsql" version="6.0.0" targetFramework="net472" />
  <package id="NPOI" version="2.5.5" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess.Core" version="2.19.110" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="RabbitMQ.Client" version="6.2.2" targetFramework="net472" />
  <package id="RazorEngine.NetCore" version="9.1.55" targetFramework="net472" />
  <package id="Resources" version="9.1.55" targetFramework="net472" />
  <package id="Senparc.CO2NET" version="1.3.300" targetFramework="net472" />
  <package id="Senparc.CO2NET.APM" version="0.9.300" targetFramework="net472" />
  <package id="Senparc.NeuChar" version="1.3.300" targetFramework="net472" />
  <package id="Senparc.Weixin" version="6.8.400" targetFramework="net472" />
  <package id="Senparc.Weixin.Work" version="3.8.400" targetFramework="net472" />
  <package id="SharpZipLib" version="1.3.2" targetFramework="net472" />
  <package id="SIE" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Alert" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Alert.Job" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Caches" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Common" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Dashboard" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Dev.Localization" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Diagnostics" version="9.1.55" targetFramework="net472" />
  <package id="SIE.IScript" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Localization" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Log" version="9.1.55" targetFramework="net472" />
  <package id="SIE.LogData" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Mda" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Messages" version="9.1.55" targetFramework="net472" />
  <package id="SIE.ORM.MappingColumn" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Print" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Print.Impl" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Queue" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Rbac" version="9.1.55" targetFramework="net472" />
  <package id="SIE.ReportServerCore" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Schedule" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Script" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Senders" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Senders.WxWorkSender" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Wpf" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Wpf.Alert" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Wpf.Common" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Wpf.Dashboard" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Wpf.Diagnostics" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Wpf.Localization" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Wpf.Mda" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Wpf.Messages" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Wpf.MQ" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Wpf.Print" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Wpf.Rbac" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Wpf.Schedule" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Wpf.Senders" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Wpf.Senders.WxWorkSender" version="9.1.55" targetFramework="net472" />
  <package id="SIE.Wpf.UpdateChecker" version="9.1.55" targetFramework="net472" />
  <package id="StackExchange.Redis.StrongName" version="1.2.6" targetFramework="net472" />
  <package id="Stimulsoft.Reports.Engine" version="2021.3.3" targetFramework="net472" />
  <package id="Stimulsoft.Reports.Wpf" version="2021.3.3" targetFramework="net472" />
  <package id="SuperSocket.ClientEngine" version="0.10.0" targetFramework="net472" />
  <package id="SuperSocket.ProtoBase" version="1.7.0.17" targetFramework="net472" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net472" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Composition" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.AttributedModel" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.Convention" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.Hosting" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.Runtime" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.TypedParts" version="1.0.31" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net472" />
  <package id="System.Console" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.6.1" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.FileVersionInfo" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.StackTrace" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net472" />
  <package id="System.DirectoryServices" version="4.5.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net472" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net472" />
  <package id="System.Management" version="4.6.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Security" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net472" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Channels" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XPath.XDocument" version="4.3.0" targetFramework="net472" />
  <package id="TimeZoneConverter" version="6.1.0" targetFramework="net472" />
</packages>